.todo {
  display: flex;

  &__list {
    width: 70%;
    border: 7px solid #EBB2C4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__todos {
      border-radius: 7px;
      height: 300px;
      overflow-y: auto;
    }
  }
}
